@{
    ViewData["Title"] = "Home Page";
}

@*
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>*@

@*<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>*@

@* <div class="alert alert-danger" role="alert"> *@
@*   This is a danger alert—check it out! *@
@* </div> *@


@* <div class="text-center"> *@
@*     <h1 class="display-4">Welcome</h1> *@
@*     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@* </div> *@
